<app-header></app-header>
<div class="inner">
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>

  <button #priceBtn mat-raised-button class="pink-btn" color="accent">Check our prices</button>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
  <h1>Forget Everything You Know About Insurance</h1>
  <p>Instant everything. Killer prices. Big heart.</p>
</div>
