<div class="main-header-wrap header-desktop">
  <div [ngClass]="{'header-sm': isScrolled}"
       class="main-header">
    <div class="menu">
      <a href="{{menu.router}}" *ngFor="let menu of menuList"> {{ menu.name }} </a>
    </div>
    <a href="/home" class="logo"><img src="/assets/destop-logo.svg" width="146" height="33"></a>
    <button [ngClass]="{'btn-show': isShowBtn}"
            class="price-btn btn-hide"
            mat-raised-button color="accent">Check our prices</button>
  </div>
</div>
<div class="main-header-wrap header-mobile">
  <div [ngClass]="{'header-sm': isScrolled}"
       class="main-header">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let menu of menuList">
        <span>{{menu.name}}</span>
      </button>
    </mat-menu>
    <a href="/home" class="logo"><img src="/assets/destop-logo.svg" width="146" height="33"></a>
    <button [ngClass]="{'btn-show': isShowBtn}" style="padding: 0 10px;"
            class="price-btn btn-hide"
            mat-raised-button color="accent">Prices</button>
  </div>
</div>