app-header {
  display: block;
  @media (max-width: 1024px) {
    .header-desktop {
      display: none;
    }
    .header-mobile {
      display: block;
      .main-header {
        padding: 10px;
        height: 70px !important;
        .logo {
          bottom: 20px !important;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .header-desktop {
      display: block;
      .main-header {
        padding: 0 25px;
      }
    }
    .header-mobile {
      display: none;
    }
  }
  .hidden {
    display: none !important;
  }
  .main-header-wrap {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: transparent;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    .main-header {
      box-sizing: border-box;
      overflow: hidden;
      background: #fff;
      padding: 0 25px;
      height: 100px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      border-bottom: 1px transparent solid;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      .logo {
        position: absolute;
        height: 33px;
        width: 146px;
        margin-left: -73px;
        bottom: 0;
        left: 50%;
        display: inline-block;
        -moz-transition: bottom 0.2s;
        -o-transition: bottom 0.2s;
        -webkit-transition: bottom 0.2s;
        transition: bottom 0.2s;
      }
      .price-btn {
        text-transform: uppercase;
        position: absolute;
        right: 20px;
        top: 15px;
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: -o-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .btn-show {
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -webkit-transform: translateY(0) !important;
        transform: translateY(0) !important;
      }
      .btn-hide {
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
      }
      .menu>a {
        color: #4A4A4A;
        text-decoration: none;
        padding-right: 8px;
      }
    }
    .header-sm {
      height: 70px;
      border-color: #DADADA;
      .logo {
        bottom: 20px;
        img {
          width: 80%;
        }
      }
    }
  }
}